<div class="footer">
        <div class="footer__social">
            <p>Follow us</p>
            <div class="footer__icons">
                <div class="footer__icons--background">
                    <a href="#"><img src="../../../../assets/resources/facebook.svg" alt="" srcset=""></a>
                </div>
                <div class="footer__icons--background">
                    <a href="#"><img src="../../../../assets/resources/instagram.svg" alt="" srcset=""></a>
                </div>
                <div class="footer__icons--background">
                    <a href="#"><img src="../../../../assets/resources/twitter.svg" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="footer__info">
            <div class="footer__info--col">
                <h3>About Us</h3>
                    <p>We want to help passengers to rech their destinations</p>
            </div>
            <div class="">
                <h3>Explore</h3>
                <ul>
                    <li><a class="nav__menu--textdecoration" href="#">Home</a></li>
                    <li><a class="nav__menu--textdecoration" href="#">Destinations</a></li>
                    <li><a class="nav__menu--textdecoration" href="#">About</a></li>
                </ul>
            </div>
            <div class="">
                <h3>Information</h3>
                <ul>
                    <li><a class="nav__menu--textdecoration" href="#">More search</a></li>
                    <li><a class="nav__menu--textdecoration" href="#">Blog</a></li>
                    <li><a class="nav__menu--textdecoration" href="#">Testimonials</a></li>
                </ul>
            </div>
            <div class="">
                <h3>Services</h3>
                <ul>
                    <li><a class="nav__menu--textdecoration" href="#">Manage my Bookings</a></li>
                    <li><a class="nav__menu--textdecoration" href="#">Checkin</a></li>
                    <li><a class="nav__menu--textdecoration" href="#">Hotel</a></li>
                    <li><a class="nav__menu--textdecoration" href="#">Cars</a></li>
                </ul>
            </div>
        </div>
</div>