<div class="menu">
    <h2>Menu</h2>
        <div class="menu__offers">
            <li class="menu__item">
                <a class="menu__btn" href=""><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset="">Check-in</a>
                <div class="menu__submenu">
                    <a class="menu__submenu--decoration" href="">Item</a>
                    <a class="menu__submenu--decoration" href="">Item</a>
                    <a class="menu__submenu--decoration" href="">Item</a>
                </div>
            </li>
            <hr>
            <li class="menu__item">
                <a class="menu__btn" href=""><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset="">Manage My Booking</a>
                <div class="menu__submenu">
                    <a class="menu__submenu--decoration" href="">Item</a>
                    <a class="menu__submenu--decoration" href="">Item</a>
                </div>
            </li>
            <hr>
            <li class="menu__item">
                <a class="menu__btn" href=""><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset="">Search</a>
                <div class="menu__submenu">
                    <form>
                        <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
                        <label for="nme"><span>Search 1</span></label>
                        <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
                        <label for="nme"><span>Search 2</span></label>
                    </form>
                </div>
            </li>
            <hr>
            <li class="menu__item">
                <a class="menu__btn" href=""><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset="">Destinations</a>
                <div class="menu__submenu">
                    <a class="menu__submenu--decoration" href="">Item</a>
                    <a class="menu__submenu--decoration" href="">Item</a>
                    <a class="menu__submenu--decoration" href="">Item</a>
                </div>
            </li>
            <hr>
            <li class="menu__item">
                <a class="menu__btn" href=""><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset="">Members</a>
                <div class="menu__submenu">
                    <a class="menu__submenu--decoration" href="">Item</a>
                </div>
            </li>
</div>
